body {
    background-color: #282c34;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    margin: 12% auto;
    width: 90%;
    max-width: 600px;
    text-align: center;
}

h1 {
    font-weight: 500;
    font-size: 35px;
}

h1 span {
    color: #61dafb;
    border-bottom: 4px solid #61dafb;
    padding-bottom: 5px;
}

.display {
    width: 100%;
    margin: 20px 0;
    background: white;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}

.display input {
    border: 0;
    outline: 0;
    font-size: 24px;
    flex: 1;
}

.display img {
    width: 30px;
    cursor: pointer;
}

button {
    border: 0;
    outline: 0;
    background: #61dafb;
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}

button img {
    width: 28px;
    margin-right: 10px;
}